In [3]:
import sys
sys.path.append('..')

#relative import
from scripts import project_functions as pf # This is called a relative import
df = pf.load_and_process("../../data/raw/Medical_Cost.csv")
df

,age,sex,bmi (Body Mass Index),children,smoker,USA Region,charges
1248,18,female,39.820,0,no,southeast,1633.96180
482,18,female,31.350,0,no,southeast,1622.18850
492,18,female,25.080,0,no,northeast,2196.47320
525,18,female,33.880,0,no,southeast,11482.63485
529,18,male,25.460,0,no,northeast,1708.00140
...,...,...,...,...,...,...,...
398,64,male,25.600,2,no,southwest,14988.43200
335,64,male,34.500,0,no,southwest,13822.80300
378,64,female,30.115,3,no,northwest,16455.70785
1265,64,male,23.760,0,yes,southeast,26926.51440
635,64,male,38.190,0,no,northeast,14410.93210